.ios, .md, .wp {
    page-home {
        ion-list {
            ion-item {
                padding: 10px;
                margin: 5px;
                -webkit-box-shadow: 0px 3px 5px 0px rgba(191,191,191,1);
                -moz-box-shadow: 0px 3px 5px 0px rgba(191,191,191,1);
                box-shadow: 0px 3px 5px 0px rgba(191,191,191,1);
            }  
        }
    }
}
